
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    position: absolute;
    left:0px;
    top:0px;
    z-index:-1;
    font-family: 'Antonio', sans-serif;
    align-items: center;
    justify-content: center;
    padding: 30px;
 min-height: 100vh;
 width: 100%;
 display:flex;
 text-decoration: none;
 color: white;
}


.form{
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
     
}
.form_container{
    justify-self: left;
    align-self: center;
    width: 100%;
    max-width:1000px;
    display: grid;
    gap: 1em;
   
    
}
.form_title{
    justify-self: left;
    align-self: center;
    text-align: center;
    background-color: rgb(79, 177, 184);
    font-size: 1.9rem;
    margin-bottom: .4em;
   
}
.form_input{
    font-family: inherit;
    font-size: 1rem;
    padding: 0.8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0bb;
    border-radius: 0.2em;
   
}
 .form_input--message{
resize: none;
padding: 1.8em 1em;
margin-bottom: .5em;


}

.form_cta{
    font-family: inherit;
    background-color: #089fe0;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
  

}
.share{
    display: flex;
    justify-content: center;
   
}
.share a{
    margin: 0 5px;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    text-decoration: none; 
    float:left;
    grid-template-columns: auto auto auto;
    justify-self: space-around;
}

@media (max-width: 450px) {
    .form{ 
padding: 3.5em 1em;

    }
}
